body {
    background-color: black;
    font-family:"Comic Sans MS", cursive, sans-serif;
}

h1 {
    color:aquamarine;
    font-size:200%;
    font-weight:bold;
}

p {
    color:aquamarine;
    font-size:150%;
}

form {
    color:skyblue;
}

table {
    color:white;
}

tr:hover {
    background-color:forestgreen;
}

td {
    text-align:center;
}

th, td {
    padding: 5px;
}
