body {
    background-color: black;
}

h1 {
    color: limegreen;
}

p {
    color:skyblue;
}

form {
    color:skyblue;
}

table {
    color:white;
}

tr:hover {
    background-color:darkslategray;
}

td {
    text-align:center;
}
