body {
    background-color: black;
    font-family:"Gyre", Helvetica, Arial, Sans-serif;
    /* Might want to try font-family: Avant Garde,Avantgarde,Century Gothic,CenturyGothic,AppleGothic,sans-serif */
    font-size:150%;
    color:aquamarine;
}

h1 {
    font-size:200%;
    font-weight:bold;
}

p {
}

form {
    color:skyblue;
}

table {
    color:white;
}

tr:hover {
    background-color:forestgreen;
}

td {
    font-size:125%;
    text-align:center;
}

th, td {
    padding: 5px;
}
